* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.MuiCardHeader-title {
    color: 'green'
}

.MuiGrid-container {
    background-color: #fff;
    justify-content: center;
}

a {
    text-decoration: none;
}